img {
    height: 150px;
}

button {
    height: auto;
    width: auto;
    margin: 5px;
}

.toggled {
    background-color: green;
}

.checkmarkBtn {
    height: 20px;
    width: 20px;
    border-style: ridge;
}

p {
    width: 400px;
}

#top {
    display: flex;
}
